#cancledSign.d-flex
    div.align-self-center.w-100
        div.container
            div.row
                div.col
                    div.alert.alert-danger.rounded-0.text-center
                        p.display-1.animated.pulse.infinite
                            i.fas.fa-exclamation-triangle
                            |
                            |
                            = __('Party canceled')
                            |
                            |
                            i.fas.fa-exclamation-triangle
                        hr
                        p.h1
                            = __('Thank you for your reply. Sadly I have to cancle the party. Thank you Corona')
                            |
                            |
                            i.fas.fa-biohazard