doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    include _commonStyles.pug

  body.invite
    .container
      .row
        .col
          .alert.alert-warning.my-4
            h4
              i.fas.fa-cogs
              |
              | Noch nicht fertig!
            p Leider ist diese Seite noch nicht ganz fertig
            hr
            p
              | Bitte komm später nochmal wieder
              |
              i.fas.fa-rocket
            p
              | Wie wär's wenn du dir die
              |
              a(href='/')
                i.fas.fa-arrow-right
                span
                  |
                  | Startseite
                  |
                i.fas.fa-arrow-left
              |
              | solange anschaust

    include _commonScripts.pug
