// For your custom styles
body.startpage
  background-color: #03080e
  background: radial-gradient(ellipse at bottom, #0d2540 0%, #000000 100%)

body.startpage #grid
  display: none

body.invite
  background: none
  background-color: #03080e

.bg-black
  background-color: black

.bg-banner:hover
  background-color: #f9f4bb

.neon-blue
    color: #22abdf

.btn-invite
    position:

.btn-invite-de div
    position: relative
    background-image: url('/img/invite-de-s.png')
    width: 334px
    height: 108px
    @media (min-width: 768px)
      background-image: url('/img/invite-de-m.png')
      width: 657px
      height: 232px
    @media (min-width: 992px)
      background-image: url('/img/invite-de-l.png')
      width: 1000px
      height: 335px

.btn-invite-en div
    position: relative
    background-image: url('/img/invite-en-s.png')
    width: 268px
    height: 119px
    @media (min-width: 768px)
      background-image: url('/img/invite-en-m.png')
      width: 424px
      height: 232px
    @media (min-width: 992px)
      background-image: url('/img/invite-en-l.png')
      width: 650px
      height: 335px

.btn-invite-de:hover div
    background-position-x: 334px;
    @media (min-width: 768px)
      background-position-x: 657px;
    @media (min-width: 992px)
      background-position-x: 1000px;

.btn-invite-en:hover div
    background-position-x: 268px;
    @media (min-width: 768px)
      background-position-x: 424px;
    @media (min-width: 992px)
      background-position-x: 650px;

.bg-console
  background-color: black
  border: 1px solid white
  font-family: 'Consolas'
  color: #66ff33

form.invite-code
  width: 100%

  .input-group
    width: 100%

  .form-control
    border-radius: 0
    background-color: black
    color: #66ff33

  .input-group-append button
    border-radius: 0
    border-color: #33cc33
    background-color: #66ff33
    color: black

@keyframes typing
  from
    width: 0
  to
    width: 100%

.typewriter h2, .typewriter p
  overflow: hidden
  white-space: nowrap
  letter-spacing: .1em
  width: 0
  animation: typing 1s steps(23, end) forwards

.animated.delay-6s
  -webkit-animation-delay: 6s
  animation-delay: 6s

.animated.delay-7s
  -webkit-animation-delay: 7s
  animation-delay: 7s

.animated.delay-8s
  -webkit-animation-delay: 8s
  animation-delay: 8s

.bg-chat
  background-color: #82E0AA
  color: #17202A

#cancledSign
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none

